.card {
  margin: 0;
  padding: 0;
  margin-left: 150px;
  width: 550px;
  height: 200px;
  border-top-right-radius: 20px;
  /*  border: 1px solid rgba(0, 0, 0, 0.462); */

  background: #581611;

  box-shadow: 0px 0px 10px black;
  transition: 0.3s;
  animation: ease-in;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card img {
  position: relative;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 70%;
  border-right: 3px ridge rgba(0, 0, 0, 1);
}

.card .dogName {
  padding: 10px;
  font-size: 23px;
  color: gold;
  text-shadow: 1px 1px 3px black;
  text-transform: capitalize;
  font-family: sans-serif;
  width: 50%;
}

.card .temp {
  display: block;
  max-width: 300px;
  font-size: 14px;
  color: rgb(199, 197, 197);
  font-weight: bold;
  align-self: auto;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.card .temp h4 {
  font-size: 16px;
  color: goldenrod;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.705);
  font-family: Arial, Helvetica, sans-serif;
}

.card:hover {
  box-shadow: 0px 0px 20px -15px gold;
  transform: scale(1.05);
}

.card .span {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: wheat;
  font-weight: bold;
  align-self: flex-end;
}
