.landing {
  align-items: center;
}

.landing .logo {
  width: 40em;
}

.continue {
  font-size: 25px;
  font-weight: bold;
  color: brown;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  display: block;
  margin-bottom: 3rem;
}

.continue:hover {
  color: teal;
  text-shadow: 10px black;
  transition: 0.3s;
}

.continue:active {
  color: goldenrod;
  transition: 0s;
}
