.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.pagination button {
  width: 35px;
  height: 35px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  margin: 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #581611;
  color: darkgoldenrod;
  border-color: rgba(223, 220, 220, 0.569);
}

.pagination button:hover {
  box-shadow: 0px 0px 5px darkgoldenrod;
  transition: 0.1s;
}

.pagination button.active {
  font-weight: 900;
  background: goldenrod;
  color: white;
}
