.nav {
  height: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background: radial-gradient(
    circle,
    rgb(34, 34, 34) 49%,
    rgb(22, 22, 22) 100%
  );
  border-bottom: 2px solid rgba(255, 217, 0, 0.2);
  border-bottom-style: solid;
  animation: blinker 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

.nav a {
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(222, 184, 135);
  background: linear-gradient(0deg, rgba(222, 184, 135, 1) 0%, goldenrod 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.nav a:hover {
  color: burlywood;
  text-decoration: none;
  text-shadow: 0 0 8px rgba(253, 187, 45, 0.7);
}
